#conteudo {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conteudo h1 {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
    color: #2C3ABA;
}

#conteudo section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 30px;
    flex-wrap: wrap;
}

#conteudo section article {
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s;
}

#conteudo section article:hover {
    transform: scale(1.005);
}

#conteudo section article img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    margin-top: 1px;
    border-radius: 10px 10px 0 0;
}

#conteudo section article .detalhes {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#conteudo section article .detalhes h3 {
    display: block;
    font-size: 24px;
    font-weight: 300;
    color: #2C3ABA;
    margin-bottom: 10px;
}

#conteudo section article .detalhes p {
    font-size: 14px;
    font-weight: normal;
    color: black;
    margin-bottom: 15px;
    text-align: justify;
}

#conteudo section article .detalhes span {
    font-size: 12px;
    font-weight: 400;
    color: #2C3ABA;
}

#conteudo section article button {
    text-decoration: none;
    min-width: 100%;
    min-height: 40px;
    color: white;
    background-color: #2C3ABA;
    border-radius: 0 0 7px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: background-color 0.3s;
    border: 2px solid #2C3ABA;
}

#conteudo section article button:hover {
    background-color: transparent;
    color: #2C3ABA;
    border: 2px solid transparent;
    border-top: 2px solid #2C3ABA;
    border-radius: 0 0 7px 7px;
}